$darkprimary-colour:      #006644 !default;
$lightprimary-colour:     #00b377 !default;
$primary-colour:          #009966 !default;
$text-colour:             #FCFBE3;
$accent-colour:           #607d8b;
$primarytext-colour:      #212121;
$secondarytext-colour:    #FCFBE3;
$divider-colour:          #BDBDBD;
