<footer class="w3-container footer-colour w3-margin-top">
  <div class="w3-container w3-quarter">
    <p class="w3-large text-special">{{ site.title | escape }}</p>
    <p class="w3-medium">{%- if site.email -%} <a href="mailto:{{ site.email }}">{{ site.email }}</a> {%- endif -%}</p>
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </div>

  <div class="w3-container w3-quarter">
    <p class="w3-medium">Find me on social media.</p>
    {%- include social.html -%}
  </div>

  <div class="w3-container w3-rest">
    <p class="w3-large">{{- site.description | escape -}}</p>
  </div>

  <script src="/assets/sidebar.js"> </script>

</footer>
