<!-- Portfolio Grid Section -->
<div class="w3-row-padding" id="projects">
  {%- assign sorted-posts = site.posts | where:"categories","portfolio" -%}
  {%- for post in sorted-posts -%}
  <div class="w3-quarter w3-margin-top">
      <a href="{{ post.url | relative_url }}" target="_blank"><div class="w3-card w3-hover-opacity">
        <img class="w3-image" src="https://images.weserv.nl/?url=jordanshelswell.github.io/img/portfolio/{{ post.thumbnail }}&w=600&h=600&t=square" alt="project">
        <div class="w3-container"><p>{{ post.title }}</p></div>
      </div>
      </a>
  </div>
  {%- endfor -%}
</div>
