  {%- if site.facebook_username -%}<p class="w3-small"><a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}" target="_blank"><i class="fa fa-facebook-official"></i> {{ site.facebook_username| escape }}</a></p>{%- endif -%}

  {%- if site.flickr_username -%}<p class="w3-small"><a href="https://www.flickr.com/photos/{{ site.flickr_username| cgi_escape | escape }}" target="_blank"><i class="fa fa-flickr"></i> {{ site.flickr_username| escape }}</a></p>{%- endif -%}

  {%- if site.github_username -%}<p class="w3-small"><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank"><i class="fa fa-github"></i> {{ site.github_username| escape }}</a></p>{%- endif -%}

  {%- if site.linkedin_username -%}<p class="w3-small"><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" target="_blank"><i class="fa fa-linkedin"></i> {{ site.linkedin_username| escape }}</a></p>{%- endif -%}

  {%- if site.twitter_username -%}<p class="w3-small"><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" target="_blank"><i class="fa fa-twitter"></i> {{ site.twitter_username| escape }}</a></p>{%- endif -%}

  {%- if site.youtube_username -%}<p class="w3-small"><a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}" target="_blank"><i class="fa fa-youtube"></i> {{ site.youtube_username| escape }}</a></p>{%- endif -%}

  {%- if site.rss -%}<p class="w3-small"><a href="{{ 'feed.xml' | relative_url }}"><i class="fa"></i> {{ site.rss | escape }}</a>{%- endif -%}
