---
layout: default
---
{%- include welcome_banner.html -%}

<div class="w3-container">
  {{ content }}
</div>

<div class="w3-container">

    <div class="w3-display-container w3-center w3-xlarge">
      <p class="">Take a look at some of the work I do.....</p>
    </div>

      {%- include portfolio_block.html -%}

    <div class="w3-display-container w3-center w3-xlarge">
      <p>If you want to see more check out the blog section!</p>
      <a class="w3-button w3-block background-brand w3-round-xxlarge" href="/blog">Blog</a>
      <p>If you want to work together....</p>
      <p>you can find the means below.</p>
    </div>
</div>
