---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
    {%- include welcome_banner.html -%}

  {{ content }}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <h2 class="center-text" style="width:100%;">Take a look at some of the work I do.....</h2>
        {%- include portfolio_block.html -%}
      <p class="center-text">If you want to see more check out the blog section!</p>
      <a class="button" style="width:100%;" href="/blog">Blog</a>

      <h2 class="center-text" style="width:100%;">If you want to work together....</h2>
      <p class="center-text">you can find the means below.</p>
    </div>
</div>
