---
layout: default
---
<div class="w3-container w3-margin-top">
  <article class="w3-container w3-card w3-margin-top">
      <p class="w3-large">
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
      </p>

        <section class="w3-container">
          {{ content }}
        </section>
    <section>
    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}
    </section>

    <a class="w3-ul" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</div>
