---
layout: default
---
<div class="w3-margin-top">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third w3-margin-top">

      <div class="w3-card-4">
        <div class="w3-container w3-center">
          <img class="w3-image w3-circle background-brand text-brand w3-margin-top pic-author" src="../img/profile.jpg" alt="Jordan Shelswell">
          <h2 class="text-special">Jordan Shelswell</h2>
        </div>

        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large text-brand"></i>Ecologist/ Programmer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large text-brand"></i>Ontario, Canada</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large text-brand"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large text-brand"></i>Provided upon request</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right text-brand"></i>Skills</b></p>

          <p>Ecology & Environmental Science</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge background-brand" style="width:90%">
              <div class="w3-center w3-text-white">90%</div>
            </div>
          </div>

          <p>Communications</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge background-brand" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>

          <p>Web Design</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge background-brand" style="width:75%">
              <div class="w3-center w3-text-white">75%</div>
            </div>
          </div>

          <p>Programming</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge background-brand" style="width:50%">
              <div class="w3-center w3-text-white">50%</div>
            </div>
          </div>
          <br>

          <p class="w3-large"><b><i class="fa fa-globe fa-fw w3-margin-right text-brand"></i>Languages</b></p>

          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge background-brand" style="height:24px;width:100%"></div>
          </div>

          <p>Esperanto</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge background-brand" style="height:24px;width:55%"></div>
          </div>

          <p>French</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge background-brand" style="height:24px;width:25%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird w3-margin-top">

      <div class="w3-container w3-card">
        <h2 class="text-special w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge text-brand"></i>About</h2>
        {{ content }}
      </div>

      <div class="w3-container w3-card">
        <h2 class="text-special w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge text-brand"></i>Work Experience</h2>

        <div class="w3-container">
          <h5><b>Farm Intern / Three Forks Farms and Field Good Farms</b></h5>
          <h6 class="text-brand"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016</h6>
          <ul class="w3-list">
            <li><strong>Responsibilities:</strong> Aided in the care of over 200 hundred white-rock chickens including cleaning and feeding them. Additionally, I aided in the cultivation an assortment of vegetables in an intensive market garden setting and operated a micro-green production system and prepared product for market.</li>
            <li><strong>Highlights:</strong> Field Good Farms provided me with frontline training in business planning and small farm operations including yearly crop planning and money flow management while participating in the first-year startup operations at Three Forks Farms.</li>
          </ul>
          <hr>
        </div>

        <div class="w3-container">
          <h5><b>Park Ranger – Maintenance  / Lake Superior Provincial Park </b></h5>
          <h6 class="text-brand"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015</h6>
          <ul class="w3-list">
            <li><strong>Responsibilities:</strong> Execute regular facilities maintenance, both indoors and outdoors. This included cleaning all visitor facilities, completing campsite maintenance, waste collection, minor infrastructure repairs and more. Additionally, while active on the park grounds act as a front-line Park Naturalist, providing information to visitors on everything from flora, fauna, geology, park policy and local recreation activities.</li>
            <li><strong>Highlights:</strong> Learned how to work in a small team in a remote location. Practiced environmental field identification skills and communicating them to the public.</li>
          </ul>
          <hr>
        </div>

        <div class="w3-container">
          <h5 ><b>Help Desk Worker & Peer Tutor  / Fleming College </b></h5>
          <h6 class="text-brand"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013-2015</h6>
          <ul class="w3-list">
            <li><strong>Responsibilities:</strong> Ensured that a core group of printers were stocked and in good working order. Provided face to face technical advice and peer tutoring to the entirety of Fleming College’s staff and students.</li>
            <li><strong>Highlights:</strong><br>
            Tutored: Advanced GIS Applications, Orienteering, Technical Mathematics, Chemistry, Environmental Field Skills and the Field Identification of Flora and Fauna.<br>
            Technical Support: General user issues, networking problems, Microsoft's office suite, printer complications, and geospatial/data applications.</li>
          </ul>
          <hr>
        </div>

      </div>

      <div class="w3-container w3-card ">
        <h2 class="text-special w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge text-brand"></i>Education</h2>

        <div class="w3-container">
          <h5 ><b>Scientific Programming and Web Developmet</b></h5>
          <p >The Web! (Coursera, W3-Schools, freeCodeCamp, DataCamp...ect.)</p>
          <h6 class="text-brand"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - <span class="w3-tag w3-round">Current</span></h6>
          <ul class="w3-list">
            <li><strong>Major Project: </strong> This site!</li>
            <li><strong>Notable Courses: </strong>Google Ad Fundamentals, Responsive Web Design, Do-It-Yourself GeoApps, Introduction to R, SQL and Python, Fundamentals of Digital Marketing, Pleasure Craft Operator Licence, Mountains 101</li>
          </ul>

          <hr>
        </div>

        <div class="w3-container">
          <h5 ><b>Honours Bachelor of Science in Ecological Restoration</b></h5>
          <p>Trent University</p>
          <h6 class="text-brand"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015-2017</h6>
          <ul class="w3-list">
            <li><strong>Major Project: </strong> Investigated the use of Black Walnut as a control for Dog Strangling Vine</li>
            <li><strong>Notable Courses: </strong> Remediation and Restoration Ecology, Natural Water Chemistry, Environmental Policy, Natural Resource Project Management and Economics, Green Infrastructure, Indigenous Studies, Environmental Implications of Agriculture.</li>
          </ul>
          <hr>
        </div>

        <div class="w3-container">
          <h5><b>Ecological Restoration Diploma</b></h5>
          <p>Fleming College</p>
          <h6 class="text-brand"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013-2015</h6>
          <ul class="w3-list">
            <li><strong>Major Project: </strong> Investigated the effects of road metals on the seed success of Staghorn Sumac</li>
            <li><strong>Notable Courses: </strong> Environmental Field Skills, Plant Community Systematics, Hydrology, Environmental Chemistry, Species Identification (Terrestrial and Aquatic Plants and common Animals)</li>
          </ul>
          <hr>
          <br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
